<app-articles-card [cardName]="'المكملات'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-articles-card>
<app-articles-card [cardName]="'التخسيس'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-articles-card>
<app-articles-card [cardName]="'التغذيه'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-articles-card>
<app-articles-card [cardName]="'بناء العضلات'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-articles-card>
<app-articles-paging></app-articles-paging>