<div class="card-img-container" [ngStyle]="{'background-image': localImageUrl ? 'url(' + articleCategory?.profilePicture + ')' : 'url(' + baseurl + articleCategory?.profilePicture + ')'}">
  <!-- <img #cardImageTag *ngIf="cardImage" [src]="cardImage"> -->
</div>
<div class="card-separtator"></div>
<div class="card-title-container">
  <p [ngStyle]="{'color': editMode? 'black' : 'white'}">
    {{articleCategory?.name}}
  </p>
  <button *ngIf="editMode" class="btn btn-danger"><i class="fa fa-trash"></i></button>
  <button (click)="editCategory()" *ngIf="editMode" class="btn"><i class="fa fa-edit"></i></button>
</div>
