<button *ngIf="isManageProductReview"  class="btn" (click)="gotoAddProductReview()"><i class="fa fa-plus"></i></button>

<div *ngIf="!isProductReview && !isManageProductReview" class="products-container short-desc">
    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور

    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد

    أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس

    أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت

    نيولا باراياتيور. أيكسسيبتيور ساينت أوككايكات كيوبايداتات نون بروايدينت ,سيونت ان كيولبا

    كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم
</div>
<div *ngIf="!isProductReview && !isManageProductReview" class="products-container">
    <app-product-item [price]="'10 EGP'" [isSpecial]="true" [currentRate]="2" [cardName]="'product.name'" [cardImage]="'./assets/images/test/whey.png'"></app-product-item>
    <app-product-item [price]="'10 EGP'" [isSpecial]="true" [currentRate]="2" [cardName]="'product.name'" [cardImage]="'./assets/images/test/whey.png'"></app-product-item>
    <app-product-item [price]="'10 EGP'" [isSpecial]="true" [currentRate]="2" [cardName]="'product.name'" [cardImage]="'./assets/images/test/whey.png'"></app-product-item>
</div>
<div class="products-container">
    <app-product-item *ngFor="let product of products" (click)="openProductDetails(product)" [price]="product.price"
       [product] = "product" [currentRate]="product.rate" [cardName]="product.name" [cardImage]="baseurl + product.profilePicture"></app-product-item>
</div>
<div class="pagination-container">
    <ngb-pagination [collectionSize]="120" [(page)]="pageAdvanced" [maxSize]="5" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true"></ngb-pagination>
</div>
<app-modal *ngIf="!isProductReview && !isManageProductReview" [product]="selectedProduct"></app-modal>