<div class="products-container">
    <app-product-item [price]="'10 EGP'" [shortDesc]="'هذا عرض عن الوصف المختصر للكلام عن هذا المنتج'" [isSpecial]="true"
        [currentRate]="2" [cardName]="'product.name'" [cardImage]="'url(./assets/images/test/whey.png)'"></app-product-item>
    <app-product-item [price]="'10 EGP'" [shortDesc]="'هذا عرض عن الوصف المختصر للكلام عن هذا المنتج'" [isSpecial]="true"
        [currentRate]="2" [cardName]="'product.name'" [cardImage]="'url(./assets/images/test/whey.png)'"></app-product-item>
    <app-product-item [price]="'10 EGP'" [isSpecial]="true" [currentRate]="2" [cardName]="'product.name'" [cardImage]="'url(./assets/images/test/whey.png)'"></app-product-item>
</div>
<div class="products-container">
    <app-product-item *ngFor="let product of products" (click)="openProductModal(product)" [shortDesc]="'هذا عرض عن الوصف المختصر للكلام عن هذا المنتج'"
        [price]="product.price + ' EGP'" [currentRate]="product.rate" [cardName]="product.name" [cardImage]="'url(' + baseurl + product.profilePicture + ')'"></app-product-item>
</div>
<div class="pagination-container">
    <ngb-pagination [collectionSize]="120" [(page)]="pageAdvanced" [maxSize]="5" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true"></ngb-pagination>
</div>
<app-modal [product]="selectedProduct"></app-modal>