:host {
    width: 985px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    flex-direction: column;
}



:host ::ng-deep div.card-img-container {
    background-size: contain;
}