<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <h1>تغيير كلمة المرور</h1>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="كلمة المرور" autocomplete="new-password"
                    formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                </div>
                <div class="input-group mb-4">
                  <input type="password" class="form-control" placeholder="تأكيد كلمة المرور" autocomplete="new-password"
                    formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                </div>
                <button type="submit" class="btn btn-block btn-success">تغيير</button>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>