<div class="">
  <h2 class="secondary-color text-center calculator-title">حساب الدهون</h2>
  <div class="text-center white-color calculator-desc">
    <p> يمكن استخدام حاسبة الدهون في الجسم لتقدير إجمالي الدهون في الجسم بناءً على قياسات محددة. 
       يستند هذا الحساب إلى الطريقة البحرية الأمريكية.
      </p>
      <p>
      تؤخذ المقاسات من نفس المناطق الموضحة بالصور للرجل و المرأه، ويؤخذ المقاس حول محيط المنطقة كلها.  
      </p>
      <p>
        بعد حساب نسبة دهونك ( <a class="calc-presshere-links" [routerLink]="['/yourTools/calculators']">اضغط هنا </a> ) لحساب احتياج جسمك من السعرات الحرارية. 
      </p>
  </div>
</div>
<div class="calculator-form-container">
  <div class="card">
    <div class="card-body">
      <div class="img-triangle-container">
        <img height="160" src="./assets/images/boutique-fitness-boom.jpg" alt="">
        <div class="tri-overlay"></div>
      </div>
      <div class="col-sm-5 col-md-5 card-main-data">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">النوع</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check gender">
                <span>
                  <input class="form-check-input" type="radio" name="gender" id="male" value="0"
                    [(ngModel)]="calculator.gender" checked>
                  <label class="form-check-label" for="male">
                    ذكر
                  </label>
                </span>
                <span>
                  <input class="form-check-input" type="radio" name="gender" id="female" value="1"
                    [(ngModel)]="calculator.gender">
                  <label class="form-check-label" for="female">
                    أنثى
                  </label>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">السن</label>
            <div class="col-md-5">
              <input type="text" [(ngModel)]="calculator.age" name="text-input" class="form-control">
            </div>
            <label class="col-md-4 col-form-label" for="text-input">من 15 - 80</label>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">الطول</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="calculator.height" placeholder="سم" name="text-input"
                class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">الوزن</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="calculator.weight" placeholder="كجم" name="text-input"
                class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">الرقبه</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="calculator.neck" placeholder="سم" name="text-input"
                class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">الوسط</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="calculator.waist" placeholder="سم" name="text-input"
                class="form-control">
            </div>
          </div>
          <div class="form-group row" [hidden]="calculator.gender !== '1'">
            <label class="col-md-3 col-form-label" for="text-input">المؤخرة</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="calculator.hip" placeholder="سم" name="text-input"
                class="form-control">
            </div>
          </div>
          <img src="./assets/images/fats-calc-ex.jpg" class="fats-img" alt="">

          <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8 mobile-view-calc">
              <div class="col-sm-6 text-left buttons">
                <button type="button" class="btn btn-outline-info" (click)="calculator.calcBodyFats()">احسب</button>
              </div>

              <div class="col-sm-6 text-left buttons">
                <button type="button" class="btn btn-outline-info" (click)="calculator.reset()">احذف</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-md-4 card-main-data" [hidden]="!calculator.showResult">
        <h5> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> النتيجه</h5>
        <div class="result-row">
          <div class="result-name">نسبة دهون الجسم
          </div>
          <div class="result-value">{{calculator.bodyFatsResult.fatsPercentage}}
          </div>
        </div>
        <div class="result-row">
          <div class="result-name">الكتلة الدهنية
          </div>
          <div class="result-value">{{calculator.bodyFatsResult.fatsKG}}
          </div>
        </div>
        <div class="result-row">
          <div class="result-name">الكتلة اللادهنية
          </div>
          <div class="result-value">{{calculator.bodyFatsResult.notFatsKG}}
          </div>
        </div>
        <div class="result-row">
          <div class="result-name">الفئة
          </div>
          <div class="result-value">{{calculator.bodyFatsResult.fatClass}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>