<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-11 ltr mx-auto">
                    <div class="card-group">
                        <div class="card p-4 rtl">
                            <div class="card-body">
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                    <h2>تسجيل الدخول</h2>
                                    <p class="text-muted">قم بتسجيل الدخول لحسابك</p>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="البريد الالكترونى"
                                            autocomplete="username" formControlName="userName"
                                            [ngClass]="{ 'is-invalid': submitted && form.controls.userName.errors }">
                                        <div *ngIf="submitted && form.controls.userName.errors" class="col-sm-12 text-danger">
                                            <div *ngIf="form.controls.userName.errors.email">
                                                {{'commonValidations.email.invalid' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-4">
                                        <input type="password" class="form-control" placeholder="كلمة المرور"
                                            autocomplete="current-password" formControlName="password"
                                            [ngClass]="{ 'is-invalid': submitted && form.controls.password.errors }">
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary-1 px-4">الدخول</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button" class="btn btn-link px-0 main-color"
                                                (click)="navigateToResetPassword()">نسيت كلمة المرور؟</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card rtl text-white bg-primary-2 p-4 ">
                            <div class="card-body text-center">
                                <div>
                                    <h3>إنشاء حساب جديد</h3>
                                    <p>إن لم يكن لك حساب خاص قم بالتسجيل للإستمتاع بمزايا الموقع</p>
                                    <button type="button" class="btn btn-primary-1 mt-3"
                                        (click)="navigateToRegister()">قم
                                        بإنشاء حسابك!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>