:host {
    display: flex;
    justify-content: center;
    min-height: 520px;
    /* The image used */
    background-image: url("/assets/images/Sergi-Constance-Fitness-Model.png");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}