<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Basic Form</strong> Elements
        </div>
        <div class="card-body">
          <form (submit)="submit()" class="form-horizontal" [formGroup]="categoryForm">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">الاسم</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text" formControlName="name" [(ngModel)]="articleCategory.name">
                <span class="help-block">This is a help text</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">File input</label>
              <div class="col-md-9">
                <app-file-uploader formControlName=profilePictureFile (change)="onFileSelect($event.target.files[0])"></app-file-uploader>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-9">
                <app-drop-down formControlName="parentId" [id]="'parent_id_ddl'" [name]="'parentId'" [data]="dropDownData" [label]="'parent category'" (change)="onSelectParentCategory($event.target.value)"></app-drop-down>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </form>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <app-articles-card [localImageUrl]="imageAdded" [addMode]="true" [articleCategory]="articleCategory"></app-articles-card>
    </div>
  </div>
</div>
