<button *ngIf="isManageProductReview" class="btn admin-add-button" (click)="gotoAddProductReview()"><i class="fa fa-plus"></i></button>

<div *ngIf="!isProductReview && !isManageProductReview && products.length  && categoryDescription" class="products-container short-desc">
    {{categoryDescription}}
</div>
<!-- <div *ngIf="!isProductReview && !isManageProductReview" class="products-container">
    <app-product-item [price]="'10 EGP'" [isSpecial]="true" [currentRate]="2" [cardName]="'product.name'" [cardImage]="'./assets/images/test/whey.png'"></app-product-item>
    <app-product-item [price]="'10 EGP'" [isSpecial]="true" [currentRate]="2" [cardName]="'product.name'" [cardImage]="'./assets/images/test/whey.png'"></app-product-item>
    <app-product-item [price]="'10 EGP'" [isSpecial]="true" [currentRate]="2" [cardName]="'product.name'" [cardImage]="'./assets/images/test/whey.png'"></app-product-item>
</div> -->
<div class="products-container">
    <div class="no-results-search-wrapper" *ngIf="!products.length">
        <div class="no-results-search"><i class="fa fa-warning waring-search-icon"></i>لا يوجد اي منتجـات حاليـا فى هذ
            القسـم
        </div>
    </div>

    <app-product-item *ngFor="let product of products" (click)="openProductDetails(product)" [price]="product.price"
        [product]="product" [currentRate]="product.rate" [cardName]="product.name" [cardImage]="baseurl + product.profilePicture"
        [isSpecial]="product.isSpecial"></app-product-item>
</div>
<div class="pagination-container" *ngIf="pagerData.pagesCount > 1">
    <ngb-pagination [collectionSize]="pagerData.itmesCount" [pageSize]="pagerData.pageSize" [(page)]="pagerData.currentPage"
        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getNextPage()"></ngb-pagination>
</div>
<app-modal *ngIf="!isProductReview && !isManageProductReview" [product]="selectedProduct"></app-modal>