<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-11 ltr mx-auto">
          <div class="card-group">
            <div class="card p-4 rtl">
              <div class="card-body">
                <div>
                  <h3>لم يتم تأكيد حسابك</h3>
                  <p>برجاء التحقق من الايميل الخاص بك للحصول علي رابط التأكيد</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>