<div class="card-img-container" [ngStyle]="{'background-image': localImageUrl ? 'url(' + localImageUrl + ')' : 'url(' + baseurl + articleCategory?.profilePicture + ')'}">
  <!-- <img #cardImageTag *ngIf="cardImage" [src]="cardImage"> -->
  <button *ngIf="showImageCropIcon" (click)="cropClicked()"  class="btn btn-danger crop-btn"><i class="fa fa-crop"></i></button>
  
</div>
<div class="card-separtator"></div>
<div class="card-title-container">
  <p [ngStyle]="{'color': (editMode || addMode)? 'black' : 'white'}">
    {{articleCategory?.name}}
  </p>
  <div class="edit-delete-card">
    <button (click)="deleteCategory($event)" *ngIf="editMode" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    <button (click)="editCategory($event)" *ngIf="editMode" class="btn"><i class="fa fa-edit"></i></button>
  </div>
</div>