<!-- your coach  -->
<section class="Coach">
  <div class="container">
    <div class="header-section text-center">
      <h3>
        تعرف على دكتور عبدالله
      </h3>
    </div>
    <div class="row reverse-order">
      <div class="col-md-12 col-xs-12">
        <div class="coach-data">

          <p class="text-center know-font">
              طبيب صيدلي إكلينيكي وأخصائي في التغذيه العلاجيه والرياضيه
              <br>
              مدرب دولي ومحلي معتمد من الاتحاد العربي لكمال الاجسام و من الجمعيه الأمريكية لعلوم التدريب
              <br>
               صيدلي واستشاري تغذيه وتدريب في عديد من المراكز الطبيه والصالات الرياضيه داخل وخارج مصر 
               <br>
               هدفي الأساسى من الموقع هو...               
          </p>
          <p>
          </p>
          <div class="button-stroke"> <a class="button button-white" [routerLink]="['/contactus/bio']"  style="border-color:#fff;float:right;padding:4px 10px;"><span
                class="button_label" style="font-size:20px;font-size: 20px;padding: 5px 39px;">
                المزيد </span></a></div>

          <div class="row text-center">
            <div class="col-12 col-md">
              <div class="counter">
                <p class="count-text ">التحولات</p>
                <h2 class="count-number">
                  200
                </h2>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="counter">
                <p class="count-text "> البرامج المكتمله </p>
                <h2 class="count-number">3456</h2>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="counter">
                <p class="count-text "> بدأنا منذ </p>
                <h2 class="count-number">2013</h2>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="col-md-4 col-xs-12">
        <div class="image-wrapper">
          <img src="../../../../assets/images/man.png" style="margin: 0 auto; display: block" width="250">
        </div>
      </div> -->
    </div>
  </div>
</section>