
/* know your coach */
.Coach {
    padding-top: 60px;
    position: relative;
    overflow: hidden;
  }

  .reverse-order{
    flex-direction: row-reverse;
  }

  .Coach .container{
    bottom: 0;
  }
  .Coach .header-section h3 {
    color: #333 !important;
    font-size: 40px;
    font-weight: 800;
  }
  
  .coach-data {
    padding-top: 55px;
    color: #333;
  }
  .button-stroke a:hover {
   text-decoration: unset;
   color: #333;
}
.button-stroke{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-stroke a.button-white{
  color : #333;
}
.counter .count-text {
  color: #00bcd4;
  font-size: 28px;
  margin-top: 30px;
}
@media (max-width: 767px) {
.row{
  position: relative;
}
.absoluteItem{
  position: absolute;
}

}
  