<div class="modal-body">
    <form class="form-inline-nowrap" [formGroup]="editForm">
        <div class="product-description">

            <div class="desc-item text-center remove-bottom-border">
                <h3>اضافة منتج جديد</h3>
            </div>
            <div class="desc-item">
                <div class="form-group-inline">
                    <select class="form-control" [value]=product.categoryId formControlName="categoryId"
                        [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors,'is-valid': submitted && !f.categoryId.errors}">
                        <option [value]="0" selected> فئه المنتج </option>
                        <option *ngFor="let category of categories" [value]="category.id">
                            {{category.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="showProductType" class="desc-item">
                <div class="form-group-inline">
                    <!-- <label class="desc-entity">النوع</label> -->
                    <div class="form-control-group"
                        [ngClass]="{ 'is-invalid': submitted && f.isSpecial.errors,'is-valid': submitted && !f.isSpecial.errors}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input-rtl" type="radio" name="isSpecial" id="isSpecialTrue"
                                formControlName="isSpecial" [value]="true">
                            <label class="form-check-label" for="isSpecialTrue">مميز</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input-rtl" type="radio" name="isSpecial" id="isSpecialFalse"
                                formControlName="isSpecial" [value]="false">
                            <label class="form-check-label" for="isSpecialFalse">عادي</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desc-item">
                <div class="form-group-inline">
                    <input type="number" class="form-control" [value]="product.price" formControlName="price"
                        placeholder="السعر بالأرقام"
                        [ngClass]="{ 'is-invalid': submitted && f.price.errors,'is-valid': submitted && !f.price.errors}">
                </div>
            </div>
            <div class="desc-item">
                <div class="form-group-inline">
                    <input type="text" class="form-control" [value]="product.name" formControlName="name"
                        placeholder="اسم المنتج"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors,'is-valid': submitted && !f.name.errors}">
                </div>
                <div *ngIf="(submitted || editForm.controls['name'].touched ) && f.name.errors"
                    class="text-danger col-sm-12">
                    <div *ngIf="f.name.errors.maxlength">
                        {{'products.formValidations.nameMaxLength' | translate}}</div>
                </div>
            </div>
            <div class="desc-item" *ngIf="isSpecialRequired()">
                <div class="form-group-inline">
                    <div class="input-group-nowrap">
                        <input class="form-control" name="dp" [(ngModel)]="product.expDate" ngbDatepicker
                            placeholder="تاريخ الانتهـاء" #d="ngbDatepicker" formControlName="expDate" readonly
                            (click)="d.toggle()"
                            [required]="isSpecialRequired()"
                            [ngClass]="{ 'is-invalid': (submitted && f.expDate.errors) ,'is-valid': (submitted && !f.expDate.errors) }">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desc-item">
                <div class="form-group-inline">
                    <textarea type="text" class="form-control" [value]="product.description"
                        formControlName="description" placeholder="وصف المنتج"
                        [ngClass]="{ 'is-invalid': submitted && f.description.errors,'is-valid': submitted && !f.description.errors}">
                        </textarea>
                </div>
                <div *ngIf="(submitted || editForm.controls['description'].touched ) && f.description.errors"
                    class="text-danger col-sm-12">
                    <div *ngIf="f.description.errors.maxlength">
                        {{'products.formValidations.descriptionMaxLength' | translate}}</div>
                </div>
            </div>
            <div class="desc-item">
                <div class="form-group-inline">
                    <textarea type="text" class="form-control" formControlName="phoneNumber"
                        placeholder="طريقة التواصل مع المشترى"
                        [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors,'is-valid': submitted && !f.phoneNumber.errors}">
                        </textarea>
                </div>
                <div *ngIf="(submitted || editForm.controls['phoneNumber'].touched ) && f.phoneNumber.errors"
                    class="text-danger col-sm-12">
                    <div *ngIf="f.phoneNumber.errors.maxlength">
                        {{'products.formValidations.phoneNumberMaxLength' | translate}}</div>
                </div>
            </div>
            <div class="desc-item">
                <app-slider-edit-mode [sliderData]="product.images" [defaultImage]="'assets/images/product-default.jpg'" [imagesWidth]="'250px'" [imagesHeight]="'250px'" [resultImageList]="product.updatedImages"
                    [hideText]="true"> </app-slider-edit-mode>
            </div>
        </div>
    </form>
</div>