/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600,700|Tajawal:300,400,500,700&amp;subset=arabic,latin-ext');

html,
body {
  overflow-x: hidden;
  direction: rtl;
  font-family: 'Cairo', sans-serif !important;
  text-align: right !important;
}

body {
  padding-top: 69px;
}

.fr-box.fr-basic.fr-top .fr-wrapper{
  min-height: 350px;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}
.button-stroke a {
border: 2px solid #007bff;
padding: 10px 20px;
border-radius: 3px;
color: #fff;
}

@media (max-width: 520px) {
  h1 {
    font-size: 1.9rem !important;
  }
  h3 {
    font-size: 0.95rem !important;
  }
}


.btn-primary-1 {
  color: #fff;
  background-color: #14818f;
  border-color: #0e3c42;
}



div.modal-body {
  padding-top: 0;
  display: flex;
  min-height: 400px;
}

.modal-body .img-wrapper{
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.modal-body .modal-img{
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-body .modal-img img{
  max-height: 150px;
}

.modal-body .modal-description{
  flex: 1;
  padding-top:20px;
}

.modal-close-container {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    padding: 5px 10px;
}


.buy-price {
  padding: 10px 20px;
  width: fit-content;
  right: 0;
  background: #00bcd4;
  font-size: 14px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  cursor: pointer;
}

.modal-description .desc-item{
  padding: 10px 0;
  border-bottom: .5px solid #333;
}
.modal-description .desc-item:last-child{
  border-bottom: none;
}

.modal-description .desc-item>div{
  width: 90%;
}
.modal-description .desc-entity{
    color: #00bcd4;
}

.rating-word{
  color: #00bcd4;
}

.secondary-color{
  color: #00bcd4;
}

.filled-modal {
  color: gold;
}

.rating-stars{
  direction: ltr;
}

a.page-link:hover,a.page-link{
  color: #00bcd4;
}

li.page-item.active .page-link{
  z-index: 1;
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.products-container{
  display: flex;
  flex-wrap: wrap;    
  justify-content: center;
}

.pagination-container{
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
}

.btn.admin-add-button{
  position: ABSOLUTE;
  left: 30px;
  bottom: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #00bcd4;
  z-index: 5;
}

.carousel-default-img{
  background-image: url(assets/images/articles-default.jpg);
  background-size:cover;
  background-position: 50%;  
  height: 500px;
}

.carousel-darker-overlay{
  height: 100%;
  background-color: rgba(0,0,0,.6);
}


.dropdown-menu{
  direction: ltr;
}