/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Cairo:300,400,600,700|Tajawal:300,400,500,700&amp;subset=arabic,latin-ext");
@import "../node_modules/@swimlane/ngx-datatable/release/index.css";
@import "../node_modules/@swimlane/ngx-datatable/release/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/release/assets/icons.css";
@import url("https://fonts.googleapis.com/css?family=Cairo:300,400,600,700|Tajawal:300,400,500,700&amp;subset=arabic,latin-ext");
@font-face {
  font-family: "Cocon-Light";
  src: url("/assets/fonts/Cocon® Next Arabic-Light") format("otf");
}

@font-face {
  font-family: "Cocon-bold";
  src: url("/assets/fonts/Cocon-Bold-Font.otf") format("otf");
}

html,
body {
  /* direction: ltr; */
  font-family: "Cairo", sans-serif !important;
  text-align: right !important;
  height: 100%;
  margin: 0;
}

app-root {
  direction: rtl;
}

body {
  padding-top: 69px;
  padding-right: 0 !important;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
  min-height: 350px;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.button-stroke a {
  border: 2px solid #007bff;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
}

@media (max-width: 520px) {
  h1 {
    font-size: 1.9rem !important;
  }
  h3 {
    font-size: 0.95rem !important;
  }
}

.btn-primary-1 {
  color: #fff;
  background-color: #14818f;
  border-color: #0e3c42;
}

.btn-blue {
  color: #fff;
  background-color: #14818f;
  border-color: #0e3c42;
}

.btn-black {
  color: #fff;
  background-color: black;
  border-color: rgb(2, 2, 2);
}

.btn-white {
  color: black;
  background-color: white;
  border-color: wheat;
}

.title-white {
  color: white;
}

.title-blue {
  color: #14818f;
}

.title-black {
  color: black;
}

div.modal-body {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

div.body-most {
  padding-top: 0;
  display: flex;
  min-height: 300px;
}

.rate-add {
  display: flex;
  justify-content: center;
  min-height: 50px;
  align-items: flex-end;
}

.modal-body .img-wrapper {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  max-width: 250px;
}

.product-details-component-modal div.modal-dialog {
  min-width: 750px;
}

.product-details-component-modal .modal-body .modal-img {
  flex: 0 0 325px;
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-details-component-modal .modal-body .modal-img img {
  max-height: 250px;
  max-width: 250px
}

.product-details-component-modal .modal-body .modal-description {
  flex: 1;
  padding-top: 20px;
}

.product-details-component-modal .modal-close-container {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  padding: 5px 10px;
}

.buy-price {
  padding: 10px 20px;
  width: fit-content;
  right: 0;
  background: #00bcd4;
  font-size: 14px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  cursor: pointer;
}

.modal-description .desc-item {
  padding: 10px 0;
  border-bottom: 0.5px solid #333;
}

.modal-description .desc-item:last-child {
  border-bottom: none;
}

.modal-description .desc-item > div {
  width: 90%;
}

.modal-description .desc-entity {
  color: #00bcd4;
}

.rating-word {
  color: #00bcd4;
}

.secondary-color {
  color: #00bcd4;
}

.white-color {
  color: #ffffff;
}

.filled-modal {
  color: gold;
}

.rating-stars {
  direction: ltr;
}

a.page-link:hover,
a.page-link {
  color: #00bcd4;
}

li.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-container {
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  width: 100%;
  padding-top: 10%;
}

.btn.admin-add-button {
  position: ABSOLUTE;
  left: 10px;
  bottom: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #00bcd4;
  z-index: 5;
}

.carousel-default-img {
  /* background-image: url(assets/images/articles-default.jpg); */
  background-size: cover;
  background-position: 50%;
  height: 500px;
}

.carousel-darker-overlay {
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown-menu {
  direction: ltr;
}

.product-img-wrapper {
  max-width: fit-content;
  padding: 0 !important;
  border-radius: 10px;
  overflow: hidden;
}

.edit-delete-card {
  position: ABSOLUTE;
  left: 0;
  top: 0;
}

.edit-delete-card button.btn {
  border-radius: 0;
}

.action-btns-container {
  width: 76%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  background-color: #dedddd;
  padding: 18px 0;
  border-radius: 12px;
}

.admin-p-item div.card-title-container {
  margin-top: 39px;
}

.loading-container {
  position: relative;
  min-height: 620px;
}

.loading-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.app-loader-gif-position {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.no-results-search {
  width: 60%;
  font-size: 25px;
  padding: 30px 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(222, 221, 221, 0.8);
  margin: auto;
}

.waring-search-icon {
  color: #00bcd4;
  margin-left: 15px;
  font-size: 39px;
}

.no-results-search-wrapper {
  width: 100%;
  max-height: 100px;
  margin-bottom: 100px;
}

.form-radio {
  height: 20px;
  width: 20px;
}

span pre {
  color: white;
}

.carousel-item .container a.btn:hover {
  color: white;
}

.carousel-item .container a.btn.btn-white:hover {
  color: black;
}

span pre {
  display: block;
  /* font-size: 30px; */
  overflow: visible;
  word-break: break-word;
  white-space: normal;
  flex-wrap: wrap;
  font-family: "Cairo", "sans-serif";
}

.darker-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  font-weight: bold;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.single-selection .datatable-body-row.active {
  background-color: #00bcd4;
}

.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover {
  background-color: #00bcd4;
}

.ngx-datatable * {
  word-break: break-all;
  text-align: right;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding-left: 10px;
  padding-right: 10px;
}

/* .ngx-datatable.material.single-selection .datatable-body-row.active:hover{

  /* background-color: #00bcd4; 
} */

.ngx-datatable.scroll-vertical .datatable-body {
  min-height: 210px !important;
  overflow-x: hidden;
}

.datatable-row-center datatable-body-cell:not(:first-child),
.datatable-row-center datatable-header-cell:not(:first-child) {
  width: 25% !important;
}

.datatable-row-center datatable-body-cell:not(:first-child) > div,
.datatable-row-center datatable-header-cell:not(:first-child) > div {
  text-align: center;
}

.datatable-row-center datatable-body-cell:first-child,
.datatable-row-center datatable-header-cell:first-child {
  width: 50% !important;
}

.container-search {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 100px;
}

.container-search .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #00bcd4;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 0 25px 0 crimson; */
}

.container-search .search:hover {
  cursor: pointer;
}

.container-search .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.container-search .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.container-search input {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  background: #00bcd4;
  color: white;
  text-shadow: 0 0 10px #00bcd4;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #00bcd4, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
}

.container-search input:hover {
  cursor: pointer;
}

.container-search input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.container-search input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.container-search input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.container-search input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.container-search input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

/* calculator styles */

.calculator-title {
  margin-bottom: 35px;
}

.calculator-desc {
  font-size: 19px;
}

.calculator-desc p {
  margin-bottom: 8px;
}

.col-form-label {
  padding: 0;
  font-weight: bold;
  font-size: 20px;
}

.gender span {
  margin-left: 10px;
}

.form-check-label {
  padding-right: 25px;
}

.form-check .form-check-input {
  height: 20px;
  width: 20px;
}

.calculator-form-container select,
.calculator-form-container input {
  background-color: #e7e8e9 !important;
  border: none !important;
}

.calculator-form-container {
  margin-top: 35px;
}

.calculator-form-container input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333 !important;
  /* Firefox */
}

.calculator-form-container .buttons {
  float: right;
  padding-left: 0;
}

.calculator-form-container .btn-outline-info {
  color: #000;
  font-size: 20px;
  background-color: transparent;
  background-image: none;
  border: 2px solid #00bcd4;
  font-weight: bold;
  border-radius: 10px;
  font-size: 24px;
  margin-top: 20px;
}

.calculator-form-container .card-body {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}

.calculator-form-container .card {
  border: none;
}

.calculator-form-container .img-triangle-container {
  position: absolute;
  top: -2px;
  left: -2px;
  overflow: hidden;
}

.calculator-form-container .result-row {
  display: flex;
  margin: 14px 0;
}

.calculator-form-container .result-name {
  background-color: #b9e5fb;
  padding: 3px;
  width: 160px;
  border-radius: 5px;
  margin-left: 25px;
}

.calculator-form-container .result-value {
  padding: 3px;
  background-color: #00bcd4;
  color: #ffffff;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}

.calculator-form-container .fa-exclamation-circle {
  color: #00bcd4;
}

.calculator-form-container .tri-overlay {
  position: absolute;
  height: 100%;
  width: 146%;
  top: 47%;
  left: -11%;
  z-index: 2;
  background-color: white;
  transform: rotate(147deg);
}

.calculator-form-container .card-main-data {
  z-index: 4;
}

.calculator-form-container .percent-img {
  position: absolute;
  height: 300px;
  bottom: -44px;
  left: 0;
}

.calc-presshere-links {
  color: #00bcd4;
  text-decoration: none;
  font-size: 20px;
}
.calc-presshere-links:hover {
  color: #ff9800;
}

@media (max-width: 720px) {
  .mobile-view-calc {
    display: flex;
  }
  .mobile-view-calc .text-left {
    text-align: right !important;
  }
}
