<app-articles-card (click)="productsList()" [cardName]="'قسم المكملات الغذائيه'" [cardImage]="'url(/assets/images/test/sub-collection.png)'"></app-articles-card>
<app-articles-card (click)="productsList()" [cardName]="'قسم المكملات الغذائيه'" [cardImage]="'url(/assets/images/test/sub-collection.png)'"></app-articles-card>
<app-articles-card (click)="productsList()" [cardName]="'قسم المكملات الغذائيه'" [cardImage]="'url(/assets/images/test/sub-collection.png)'"></app-articles-card>
<app-articles-card (click)="productsList()" [cardName]="'قسم المكملات الغذائيه'" [cardImage]="'url(/assets/images/test/sub-collection.png)'"></app-articles-card>
<app-articles-paging></app-articles-paging>