<app-articles-card (click)="productsList()" [cardName]="'المكملات'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-articles-card>
<app-articles-card (click)="productsList()" [cardName]="'التخسيس'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-articles-card>
<app-articles-card (click)="productsList()" [cardName]="'التغذيه'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-articles-card>
<app-articles-card (click)="productsList()" [cardName]="'بناء العضلات'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-articles-card>
<app-articles-paging></app-articles-paging>