:host {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-top: 40px; */
    flex-direction: column;
    /* margin-top: 10%; */
}

:host ::ng-deep div.card-img-container {
    background-size: contain;
}