/* section why  */
.why-sect {
    height: 50px;
    background-color: #028798;
    line-height: 50px !important;
  
  }
  
  .why-sect p {
    color: #fff;
    margin: 0;
    height: 50px;
    font-size: 25px;
    animation: myfont 2s;
    animation-iteration-count: 10000;
  }

  /* .why-sect p.animate-offer{
    font-size: 18px;
    color: aliceblue;
  } */

  @keyframes myfont {
    0% {font-size:18px;}
    50% {font-size:25px;}
    100% {font-size:18px;}
  }
  
  @media (max-width: 520px) {
    .why-sect p {
      font-size: 16px
    } 
   }