<!-- section why  -->
<section class="why-sect">
  <div class="container">
    <p class="text-center">لماذا تحتاج EFS ؟</p>
  </div>
</section>

<!--   image section   -->
<section class="image-sect">
  <div class="image-wraper">
    <ul>
      <li>
        <div class="image-frame">
          <a href="#">
            <h3>مدربك الشخصي </h3>
            <div class="mask"></div>
            <img src="../../../../../assets/images/homepage-about1.png" alt="">
          </a>
        </div>
      </li>
      <li>
        <div class="image-frame">
          <a href="#">
            <h3>مدربك الشخصي </h3>
            <div class="mask"></div>
            <img src="../../../../../assets/images/homepage-about2.png" alt="">
          </a>
        </div>
      </li>
      <li>
        <div class="image-frame">
          <a href="#">
            <h3>مدربك الشخصي </h3>
            <div class="mask"></div>
            <img src="../../../../../assets/images/homepage-about3.png" alt="">
          </a>
        </div>
      </li>
      <li>
        <div class="image-frame">
          <a href="#">
            <h3>مدربك الشخصي </h3>
            <div class="mask"></div>
            <img src="../../../../../assets/images/homepage-about4.png" alt="">
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>