<div class="products-container">
    <app-client-filter (search)="filterItems()"></app-client-filter>
    <div class="no-results-search-wrapper" *ngIf="!articles.length">
        <div class="no-results-search"><i class="fa fa-warning waring-search-icon"></i>لا يوجد اي مقالات فى هذ القسـم
        </div>
    </div>
    <app-articles-list-item *ngFor="let article of articles" (click)="articlesDetails(article.id)" [cardName]="article.name"
        [cardImage]="'url(' + baseurl + article.profilePicture + ')'" [cardShortDescription]="article.description.substr(0,200)"></app-articles-list-item>
</div>

<div class="pagination-container" *ngIf="pagerData.pagesCount > 1">
    <ngb-pagination [collectionSize]="pagerData.itmesCount" [pageSize]="pagerData.pageSize" [(page)]="pagerData.currentPage"
        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getNextPage()"></ngb-pagination>
</div>