<section class="slider">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let banner of banners; let i = index" data-target="#myCarousel" [attr.data-slide-to]="i" [ngClass]="{'active': i===0}"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let banner of banners; let i = index" class="carousel-item dashboard-carousel" [ngClass]="{'active': i == 0}" [ngStyle]="{'background-image': 'url(' + baseurl + banner?.imagePath + ')'}">
        <div class="container" >
            <span [innerHTML]="banner.title"></span>
            <span [innerHTML]="banner.buttonText" (click)="navigateToButtonUrl(banner.buttonUrl, $event)"></span>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>