<div class="col-md-8">
   <div class="card">
      <div class="card-header">
         <strong>تواصل معنا</strong>
      </div>
      <div class="card-header">
         للإعلانات المميزه من فضلك قم بإدخال البريد الإلكتروني ورقم التليفون حتي نستطيع التواصل معك و تقديم الدعم
         المطلوب.
      </div>
      <div class="card-body">
         <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
               <label class="col-md-3 col-form-label" for="text-input">الإسم</label>
               <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control">
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-3 col-form-label" for="email-input">البريد الإلكتروني</label>
               <div class="col-md-9">
                  <input type="email" id="email-input" name="email-input" class="form-control">
               </div>
            </div>

            <div class="form-group row">
               <label class="col-md-3 col-form-label" for="text-input">رقم الهاتف</label>
               <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control">
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-3 col-form-label" for="textarea-input">التفاصيل</label>
               <div class="col-md-9">
                  <textarea id="textarea-input" name="textarea-input" rows="8" class="form-control"></textarea>
               </div>
            </div>
         </form>
      </div>
      <div class="card-footer row">
         <span class="col-md-3"></span>
         <div class="col-md-9">
            <button type="submit" class="btn btn-primary-1"><i class="fa fa-dot-circle-o"></i> إرسال</button>
         </div>
      </div>
   </div>
</div>