<app-search-filter (search)="reloadItems()"></app-search-filter>
<div class="row">
  <div class="margin-right">
    <button class="btn btn-primary" (click)="addProduct()"> اضافة منتج جديد</button>
  </div>
</div>
<br/>
<div class="row">
  <div *ngFor="let product of productsList">
    <app-product-item (click)="openProductModal(product)" [price]="product.price + ' EGP'" [currentRate]="product.rate"
      [cardName]="product.name" [cardImage]="baseurl + product.profilePicture"></app-product-item>
  </div>
</div>
<div class="pagination-container" *ngIf="pagerData.pagesCount > 1">
  <ngb-pagination [collectionSize]="pagerData.itmesCount" [pageSize]="pagerData.pageSize" [(page)]="pagerData.currentPage"
    [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="reloadItems()"></ngb-pagination>
</div>