<div class="row" class="filter-wrapper">
  <div class="col-sm-5">
    <span> اختر الحاله </span>
    <select [(ngModel)]="articlesStatuses.selectedValue" class="form-control">
      <option *ngFor="let item of articlesStatuses.items" [ngValue]="item.value">
        {{item.text}}
      </option>
    </select>
  </div>
  <div class="col-sm-5">
    <span> الإسم</span>
    <input type="text" class="form-control" [(ngModel)]="searchTxt">
  </div>
  <div class="col-sm-2 submit-filter-button">
    <button type="button" (click)="reloadItems()" class="btn buy-price article-search-button">بحـث</button>
  </div>
</div>
<div class="row articles-admin-wrapper">
  <button class="btn admin-add-button" (click)="addArticle()"> <i _ngcontent-c6="" class="fa fa-plus"></i></button>
  <div *ngFor="let article of articlesList">
    <app-articles-list-item style="height: initial;" (click)="articlesDetails(article.id)" [cardName]="article.name"
      [cardImage]="'url(' + baseurl + article.profilePicture + ')'" [cardShortDescription]="article.description.substr(0,200)"
      [hideShowMorelink]="true">
    </app-articles-list-item>
  </div>
  <div class="pagination-container" *ngIf="pagerData.pagesCount > 1">
    <ngb-pagination [collectionSize]="pagerData.itmesCount" [pageSize]="pagerData.pageSize" [(page)]="pagerData.currentPage"
      [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getNextPage()"></ngb-pagination>
  </div>
</div>