<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <h1>تغيير كلمة المرور</h1>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="كلمة المرور القديمة" autocomplete="new-password"
                    formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                  <!-- <div class="invalid-feedback" *ngIf="submitted && f.oldPassword.errors?.required">
                    Please provide a password.
                  </div> -->
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="كلمة المرور الجديدة" autocomplete="new-password"
                    formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                </div>
                <div class="input-group mb-4">
                  <input type="password" class="form-control" placeholder="تأكيد كلمة المرور" autocomplete="new-password"
                    formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                </div>
                <button type="submit" class="btn btn-block btn-success">تغيير</button>
                <br>
              </form>
              <div *ngIf="changed">
                <p class="text-muted">تم تغيير كلمة المرور بنجاح </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>