<div class="meals-container">

   <div class="main-table-container">
      <div class="add-food">
         <section>
            اضافه طعام<span class="fa fa-plus"></span>
         </section>
      </div>
      <div class="table">
         <div class="table-header">
            <div class="table-cell text-center food">الطعام</div>
            <div class="table-cell text-center">السعرات الحراريه</div>
            <div class="table-cell text-center">الكاربوهيدرات</div>
            <div class="table-cell text-center">السعرات الحراريه</div>
            <div class="table-cell text-center">الكاربوهيدرات</div>
            <div class="table-cell text-center">السعرات الحراريه</div>
            <div class="table-cell text-center">الكاربوهيدرات</div>
            <div class="table-cell text-center">السعرات الحراريه</div>

         </div>
         <div class="table-row">
            <div class="table-cell food">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell food">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell food">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row total">

            <div class="table-cell food">المجموع</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
            
         </div>
      </div>
      <div class="add-food">الاهداف الغذائيه</div>
   </div>


   <div class="circles">

      <div class="circle">
         <span class="circle-percentage">0%</span>
         <span class="circle-name">الاهداف</span>
      </div>

      <div class="circle">
         <span class="circle-percentage">0%</span>
         <span class="circle-name">الاهداف</span>
      </div>

      <div class="circle">
         <span class="circle-percentage">0%</span>
         <span class="circle-name">الاهداف</span>
      </div>

      <div class="circle">
         <span class="circle-percentage">0%</span>
         <span class="circle-name">الاهداف</span>
      </div>

      <div class="circle">
         <span class="circle-percentage">0%</span>
         <span class="circle-name">الاهداف</span>
      </div>

      <div class="circle">
         <span class="circle-percentage">0%</span>
         <span class="circle-name">الاهداف</span>
      </div>

      <div class="circle">
         <span class="circle-percentage">0%</span>
         <span class="circle-name">الاهداف</span>
      </div>

      <div class="circle">
         <span class="circle-percentage">0%</span>
         <span class="circle-name">الاهداف</span>
      </div>

   </div>
   <div class="tables">

      <div class="table">
         <div class="table-header">الفيتامينات</div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
      </div>

      <div class="table">
         <div class="table-header">الفيتامينات</div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
      </div>

      <div class="table">
         <div class="table-header">الفيتامينات</div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
      </div>

      <div class="table">
         <div class="table-header">الفيتامينات</div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
      </div>

      <div class="table">
         <div class="table-header">الفيتامينات</div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
         <div class="table-row">
            <div class="table-cell">B2 (ريبوفلافين)</div>
            <div class="table-cell text-center">0.0</div>
            <div class="table-cell text-center">0.0</div>
         </div>
      </div>


   </div>
</div>