<div class="bio-section">
   <img class="bio-img" src="assets/images/man.png" alt="">
   <div class="bio-name-wrapper">
      <h3 class="secondary-color">دكتور عبدالله</h3>
      <h4 class="white-color">مدرب شخصي متخصص فى التغذيه واللياقه</h4>
      <div class="bio-name-border"></div>
   </div>
</div>

<div class="bio-section second-section-bio">
   <h3 class="white-color">
      <span class="secondary-color">الهدف من الموقع</span> :
      <p class="reform-p">
         الهدف من الموقع هو القضاء علي الخرافات وتصحيح المعلومات المغلوطه التي تقال عن التغذيه والتدريب في الوطن العربي.
      </p>
      <br>
      <p class="reform-p">
         ويجب ان تعلم انك تستطيع الحصول علي جسم قوي وقوام ممشوق وتحقق هدفك ايا يكن سواء كان زياده في الوزن وبناء كتله
         عضليه او تخسيس مع حفاظ علي كتله العضليه والوصول الي جسم فتنس قوي جذاب ليس صعب
         ولا يتطلب تجويع او حرمان بل توازن علمي مدروس يتم تصميمه لك في برامجك الغذائيه و الانظمه التدريبيه سواء في صالات
         الجيم او في المنزل.
      </p>
      <br>
      <p class="reform-p">

         نعم ليس من الشرط للوصول الي هدفك ان تتمرن في صالات الجيم ولكن تستطيع ايضا ان اصمم لك تدريبك في المنزل باستخدام
         الاوزان الحره بجانب الاساس هو نظامك الغذائي.
         فكل هذا يمكنك الحصول عليه بكل سهوله وانت متواجد في اي مكان في العالم بتواصلك معي عن طريق ( <a class="calc-presshere-links" [routerLink]="['/onlinetraining']">التدريب الأونلاين</a> )
         لمعرفه مختلف البرامج المتاحه والمقدمه لك
         فانا اعتمد في برامجي في
         ( <a class="calc-presshere-links" [routerLink]="['/onlinetraining']">التدريب الأونلاين</a> ) وفي جميع مقالاتي في ( <a class="calc-presshere-links" [routerLink]="['/articles/articlesCategories']">أقسام المقالات </a> ) علي احدث الدراسات العلميه
         واخر ما توصل اليه العلم في مجال التغذيه والتدريب وذلك لتحقيق نتائج مثاليه في اقصر وقت
         وايضا اعتمد علي وصفات صحيه كثيره وبدائل لا حصر لها في الانظمه الغذائيه
         سوف تجدها في قسم ( <a class="calc-presshere-links" [routerLink]="['/articles/food']">وصفات الوجبات الصحية </a> ) وذلك لضمان الالتزام وعدم الملل من النظام الغذائي
         والسير علي الخطه المرسومه للوصول لهدفك في اسرع وقت مع الحفاظ علي صحتك في المقام الاول وهذه هي مسؤويتي امام الله
         كطبيب ومدرب
      </p>
   </h3>
   <div class="section-border-wrapper">
      <div class="bio-name-border"></div>
   </div>
</div>
<div class="bio-section ">
   <h3 class="secondary-color section-header">
      المؤهلات العلميه :
   </h3>
   <ul class="bio-full-width white-color bio-exp">
      <li>حاصل على بكالريوس الصيدله الاكلينيكية </li>
      <li>حاصل على دورات محلية و دولية فى مجال التغذية الرياضية و العلاجية و التدريب</li>
      <li>مدرب دولى معتمد من الاتحاد العربى لكمال الأجسام و من الجمعية الامريكية لعلوم التدريب </li>
   </ul>
   <div class="section-border-wrapper">
      <div class="bio-name-border"></div>
   </div>
</div>

<div class="bio-section slider-transform-section adjust-transform-sections">
   <h3 class="secondary-color section-header">
      بعض التحولات :
   </h3>
   <section class="slider">
      <div id="myCarousel2" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            <li *ngFor="let banner of transformBanners; let i = index" data-target="#myCarousel2" [attr.data-slide-to]="i"
               [ngClass]="{'active': i===0}"></li>
         </ol>
         <div class="carousel-inner">
            <div *ngFor="let banner of transformBanners; let i = index" class="carousel-item dashboard-carousel"
               [ngClass]="{'active': i == 0}" [ngStyle]="{'background-image': 'url('+ banner?.imagePath + ')'}">
            </div>
         </div>
         <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>
   </section>

   <div class="section-border-wrapper">
      <div class="bio-name-border"></div>
   </div>
</div>

<div class="bio-section  slider-section adjust-sections last-section">
   <h3 class="secondary-color section-header">
      أراء بعض الابطال المتدربين اون لاين :
   </h3>
   <section class="slider">
      <div id="myCarousel3" class="carousel slide" data-ride="carousel" data-interval="3000">
         <ol class="carousel-indicators">
            <li *ngFor="let banner of opinionBanners; let i = index" data-target="#myCarousel3" [attr.data-slide-to]="i"
               [ngClass]="{'active': i===0}"></li>
         </ol>
         <div class="carousel-inner">
            <div *ngFor="let banner of opinionBanners; let i = index" class="carousel-item dashboard-carousel"
               [ngClass]="{'active': i == 0}" [ngStyle]="{'background-image': 'url('+ banner?.imagePath + ')'}">
            </div>
         </div>
         <a class="carousel-control-prev" href="#myCarousel3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#myCarousel3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>
   </section>

</div>