<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <h1>إعادة تعيين كلمة المرور</h1>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="البريد الإلكتروني" autocomplete="email"
                    formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                </div>
                <button type="submit" class="btn btn-block btn-success">إنشاء</button>
                <br>
                <button type="button" class="btn btn-block btn-primary-1" (click)="navigateToLogin()">تسجيل الدخول</button>
              </form>
              <div *ngIf="mailSent">
                <p class="text-muted">تم إرسال رابط لإعادة تعيين كلمة المرور عبر الايميل</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>