<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  " role="document">
      <div class="modal-content bg-light">
          <div class="modal-close-container">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="modal-img">
                  <div class="img-wrapper">
                      <img src="/assets/images/test/whey.png">
                  </div>
                  <div>
                      <span class="rate">
                          <span class="rating-word">التقيم</span> &nbsp;
                          <ngb-rating [(rate)]="product.rate" [readonly]="true" max="5" class="star rating-stars">
                              <ng-template let-fill="fill" let-index="index">
                                  <span class="star" [class.filled-modal]="fill === 100">&#9733;</span>
                              </ng-template>
                          </ngb-rating>&nbsp;
                          <span class="filled-modal">({{product.rate}})</span>
                      </span>
                  </div>
              </div>
              <div class="modal-description">
                  <div class="modal-btn-buy">
                      <div class="buy-price">السعر <span>&nbsp; {{product.price}} &nbsp;</span> ج م</div>
                  </div>
                  <div class="desc-item">
                      <div>
                          <span class="desc-entity">الإسم</span>
                          &nbsp;
                          :
                          &nbsp;
                          {{product.name}}
                      </div>
                  </div>
                  <div class="desc-item">
                      <div>
                          <span class="desc-entity">الوصف</span>
                          &nbsp;
                          :
                          &nbsp;
                          {{product.description}}
                      </div>
                  </div>
                  <div class="desc-item">
                      <div>
                          <span class="desc-entity">تاريخ الإنتاج</span>
                          &nbsp;
                          :
                          &nbsp;
                          {{product.prodDate}}
                      </div>
                  </div>
                  <div class="desc-item">
                      <div>
                          <span class="desc-entity">تاريخ الإنتهاء</span>
                          &nbsp;
                          :
                          &nbsp;
                          {{product.expDate}}
                      </div>
                  </div>
                  <div class="desc-item">
                      <div>
                          <span class="desc-entity">البائع</span>
                          &nbsp;
                          :
                          &nbsp;
                          {{product.seller.name}}
                      </div>
                  </div>
                  <div class="desc-item">
                      <div>
                          <span class="desc-entity">الرقم</span>
                          &nbsp;
                          :
                          &nbsp;
                          {{product.seller.phoneNumber}}
                      </div>
                  </div>
                  <!-- <div class="desc-item">
                      <div>
                          <span class="desc-entity">معلومات إضافيه</span>
                          &nbsp;
                          :
                          &nbsp;
                          whey protien gold
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>
