.packages {
  display: inline-flex;
  margin: 10px 20px;
  width: 270px;
  height: 440px;
  padding-bottom: 80px;
  background: white;
  border-radius: 17px;
  overflow: hidden;
  position: relative;
  .join-now {
    position: absolute;
    display: flex;
    bottom: 22px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .item {
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    .thumbnail {
      height: 167px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      background-color: gainsboro;
    }
    .caption {
      padding: 20px;
      h3 {
        font-size: 17px;
        color: #00bcd4;
        text-align: center;
        padding-bottom: 16px;
        font-weight: bold;
      }
      li {
        font-size: 14px;
        color: #04050575;
        text-align: right;
        word-wrap: break-word;
        word-break: break-all;
        font-weight: bold;
      }
    }
    .btn.join {
      border: 1px solid #23bacd;
      background-color: white;
      font-size: 20px;
      text-align: center;
      display: block;
      margin: auto;
      display: block;
      width: 142px;
      cursor: pointer;
      color: #04050575;
    }
  }
}
