<!-- achievements -->
<section class="achievements">
  <div class="container">
    <div class="header-section text-center">
      <h3>الانجازات</h3>
      <p>لقد ساعدنا الكثير من الناس علي اخذ القرار الصحيح و البدء في تغيير اسلوب الحياه للوصول لإهدافهم
        <br>
        EFS اليكم بعض الأنجازات التي حققها </p>
    </div>
    <div class="row text-center">
      <div class="col">
        <div class="counter">
          <p class="count-text ">التحولات</p>
          <h2 class="count-number">
            200
          </h2>
        </div>
      </div>
      <div class="col">
        <div class="counter">
          <p class="count-text "> البرامج المكتمله </p>
          <h2 class="count-number">3456</h2>
        </div>
      </div>
      <div class="col">
        <div class="counter">
          <p class="count-text "> بدأنا منذ </p>
          <h2 class="count-number">2013</h2>
        </div>
      </div>
    </div>
    <div class="button-stroke">
      <a class="button button_blue" href="#" target="_blank"><span class="button_label" style="font-size: 28px;">
          ابدا معنا الان !</span></a>
    </div>
  </div>
</section>