:host {
    display: flex;
    min-height: 620px;
    background-image: url(/assets/images/cover.jpg);
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

