:host {
    width: 985px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    flex-direction: column;
}

.main-table-container {
    display: flex;
    flex-direction: column;
}

.main-table-container .total {
    background-color: #e2dbda;
    height: 70px;
}

.main-table-container .total .table-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-table-container .table {
    flex: 1;
    margin: 20px 0;
}

.main-table-container .table-header {
    display: flex;
    font-size: 12px;
}

.main-table-container .food {
    flex: 2.5;
    text-align: center;
}

.meals-container {
    background-color: rgba(222, 221, 221, .7);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table {
    flex: 0 0 400px;
    margin: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0px 19px 0px rgba(255, 255, 255, .5);
    overflow: hidden;
}

.table-header {
    padding: 13px;
    background-color: #01bbd4;
    color: white;
    text-align: center;
    font-size: 18px;
}

.table>.table-row {
    display: flex;
    font-size: 13px;
    font-weight: bold;
}

.table>.table-row:nth-child(even) {
    background-color: #f8f6f6;
}

.table>.table-row:nth-child(odd) {
    background-color: #e2dbda;
}

.table-cell {
    flex: 1px;
    padding: 15px 5px;
}