
/* Testimonials */

.Testimonials {
    /* The image used */
    background-image: url("/assets/images/homepage-opinions.png");
  
    /* Set a specific height */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .Testimonials .header-section h3 {
    color: #fff !important;
    font-size: 40px;
    font-weight: 800;
  }

  .auto-margin{
    margin: auto !important;
  }
  
  #quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
  }
  
  #quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  
  #quote-carousel .carousel-indicators {
    position: relative;
    left: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
  
  }
  
  #quote-carousel .carousel-indicators img {
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
  }
  
  #quote-carousel .carousel-indicators .active {
    width: auto;
    height: 400px;
    opacity: 1;
    transition: all .2s;
  }
  
  #quote-carousel .carousel-item {
    background-color: transparent;
  }
  
  #quote-carousel .carousel-item small {
    color: #00bcd4;
    font-size: 20px;
  }
  
  #quote-carousel .carousel-item blockquote {
    border-left: none;
    margin: 0;
  }
  
  #quote-carousel .carousel-item blockquote p {
    color: #fff;
  }
  
  #quote-carousel .carousel-item blockquote p:before {
    content: "\f10e";
    font-family: 'Fontawesome';
    float: right;
    margin-left: 10px;
  }

  .trainees-carousel{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 450px;
  }

  #smallPic{
    height: 1000px;
  }

  @media (max-width: 520px) {
   .carousel-item p{
    font-size: 0.9rem;
   } 
   .carousel-indicators{
     padding: 0px;
   }
  }
