<!-- Testimonials -->

<section class="Testimonials">
  <div class="container">
    <div class="header-section text-center">
      <h3>
        أراء بعض الابطال المتدربين اون لاين
      </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner text-center">
            <!-- Quote 1 -->
            <div class="carousel-item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      دكتور عبدالله . امبارح كنت بشتري لبس للصيف وطبعا مقاسات اختلفت تماما الحمدلله وانهارده كنا عازمين
                      العائله كلها وكلهم قالولوي واضح ما شاء الله عليكي انتي اخسيتي اوي . وطبعا لسه مكمله معاك لغايه
                      موصل لهدفني ان شاء الله .. انا سعيده جدا بمتابعتي معاك
                    </p>
                    <small> آيه بدران</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="carousel-item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      حبيبي يدكتور عبدالله والله انا عمري موصلت للفل ده قبل كده بالمجهود ده .. انا مش حاسس بجوع او اني
                      خملان وكده وحقيقي التطور اللي بشوفه في الاوزان واني بكسر اوزان كله تمرينه بالرغم اني بنشف معاك .
                      ده شئ مكنتش متخيله اساسا ربنا يبارك في حضرتك وينفعنا بعلمك
                    </p>
                    <small> معتز محمود </small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="carousel-item ">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      والله يدكتور ربنا يخليك انت من احسن الناس اللي تعرفت عليها بعيدا عن المتابعه والتغيير اللي حصلي في
                      حياتي بسببك كله بيسالني انت عملت كده ازاي مع اني لسه موصلتش لحاجه
                    </p>
                    <small> جلال رأفت</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 4 -->
            <div class="carousel-item ">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      حبيبي والله يكوتش ربنا يكرمك والفضل يرجع لحضرتك بعد ربنا قمه في التعامل والاحترام والتدريب ياكوتش
                      ربنا يكرمك وإن شاء الله مكمل معاك للاخر
                    </p>
                    <small> محمود جبر</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 5 -->
            <div class="carousel-item ">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      عاوز اقولك بس ان دي مش اول مره احاول وكنت بتعب بس من غير نتيجه المره ديه غير الحمدلله ربنا يبارك
                      في
                      حضرتك يادكتور عبدالله
                    </p>
                    <small> محمد صلاح</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 6 -->
            <div class="carousel-item ">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      انت اتنقلت لمستوي تاني ف التدريب وبتنقل لعيبتك معاك .. عاش يدكتور
                    </p>
                    <small> محمد عزب</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 7 -->
            <div class="carousel-item ">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      انت من الكباتن المحترمين جدا في المجال ده واتشرفت اني في يوم من الايام اتعاملت معاك </p>
                    <small>محمود عبد الناصر</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 8 -->
            <div class="carousel-item ">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      بجد والله ربنا يباركلك بجد انا كده في الاول وراضي عن نفسي .. بقيت دايما اقلع التيشرت قدام المرايه
                      .
                      واشوف
                      عضلات بطني وفرحان . ربنا يفرحك دايما </p>
                    <small> كيرلس جميل</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 9 -->
            <div class="carousel-item ">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      والله يدكتور انا مبسوطه جدا من اللي وصلتله وبجد مش عارف اشكرك إزاي .. هدعيلك
                    </p>
                    <small> أسماء عثمان</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 10 -->
            <div class="carousel-item ">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 offset-sm-2 auto-margin">
                    <p>
                      تسلم يدكتور انا نفسي حاسس بتغير في شكل الجسم وضهري شكله اتغير تماما واتفرد وكتفي عرض و البطن بدات
                      تظهر
                      والجناب نزلت
                    </p>
                    <small> مينا رؤوف </small>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <!-- Bottom Carousel Indicators -->
          <!-- <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-0.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="1" class="active"><img class="img-responsive "
                src="/assets/images/homefeedback/avatars-1.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-2.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-3.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="4"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-4.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="5"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-5.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="6"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-6.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="7"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-7.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="8"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-8.png" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="9"><img class="img-responsive"
                src="/assets/images/homefeedback/avatars-9.png" alt="">
            </li>
          </ol> -->

          <!-- Carousel Buttons Next/Prev -->
          <a class="carousel-control-prev" href="#quote-carousel" role="button" data-slide="next">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#quote-carousel" role="button" data-slide="prev">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row" class="training-btn">
      <div class="button-stroke"> <a class="button button-white" [routerLink]="['/onlinetraining']"
          style="border-color:#fff;float:right;padding:4px 10px;"><span class="button_label"
            style="font-size:20px;font-size: 20px;padding: 5px 39px;">
            للتدريب الاون لاين اضغط هنا   
           </span></a></div>
    </div>
  </div>
</section>