<app-product-item [price]="'1000 EGP'" [cardName]="'american whey protin standerd-gold 100 gm'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-product-item>
<app-product-item [price]="'1000 EGP'" [cardName]="'american whey protin standerd-gold 100 gm'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-product-item>
<app-product-item [price]="'1000 EGP'" [cardName]="'american whey protin standerd-gold 100 gm'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-product-item>
<app-product-item [price]="'1000 EGP'" [cardName]="'american whey protin standerd-gold 100 gm'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-product-item>
<app-product-item [price]="'1000 EGP'" [cardName]="'american whey protin standerd-gold 100 gm'" [cardImage]="'url(/assets/images/test/categoryone.png)'"></app-product-item>
<app-articles-paging></app-articles-paging>