<app-product-item [price]="'1050 EGP'" [currentRate]="1" [cardName]="'american whey protin standerd-gold 100 gm'"
    [cardImage]="'url(/assets/images/test/whey.png)'"></app-product-item>
<app-product-item [price]="'1200 EGP'" [currentRate]="3" [cardName]="'american whey protin standerd-gold 100 gm'"
    [cardImage]="'url(/assets/images/test/whey.png)'"></app-product-item>
<app-product-item [price]="'450 EGP'" [currentRate]="1" [cardName]="'american whey protin standerd-gold 100 gm'"
    [cardImage]="'url(/assets/images/test/whey.png)'"></app-product-item>
<app-product-item [price]="'830 EGP'" [currentRate]="2" [cardName]="'american whey protin standerd-gold 100 gm'"
    [cardImage]="'url(/assets/images/test/whey.png)'"></app-product-item>
<app-product-item [price]="'9550 EGP'" [currentRate]="1" [cardName]="'american whey protin standerd-gold 100 gm'"
    [cardImage]="'url(/assets/images/test/whey.png)'"></app-product-item>
<app-articles-paging></app-articles-paging>