<button  class="btn admin-add-button" (click)="gotoAddBanner()"><i class="fa fa-plus"></i></button>
<div class="banners-container">
    <div *ngFor="let banner of banners" class="carousel-item dashboard-carousel" [ngStyle]="{'background-image': 'url(' + baseurl + banner?.imagePath + ')'}">
    
        <div class="container" >
          <span [innerHTML]="banner.title"></span>
          <span [innerHTML]="banner.buttonText"></span>
        </div>
        <div class="edit-delete-card">
            <button (click)="deleteBanner(banner.id)"  class="btn btn-danger"><i class="fa fa-trash"></i></button>
            <!-- <button (click)="editCategory($event)" *ngIf="editMode" class="btn"><i class="fa fa-edit"></i></button> -->
          </div>
    </div>
    <div class="pagination-container" *ngIf="pagerData.pagesCount > 1">
        <ngb-pagination [collectionSize]="pagerData.itmesCount" [pageSize]="pagerData.pageSize" [(page)]="pagerData.currentPage"
          [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getNextPage()"></ngb-pagination>
      </div>
</div>
