<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-11 ltr mx-auto">
          <div class="card-group">
            <div class="card p-4 rtl">
              <div class="card-body">
                <div>
                  <h3>تم تأكيد حسابك</h3>
                  <p>للإستمتاع بمزايا الموقع </p>
                  <button type="button" class="btn btn-primary-1 mt-3" (click)="navigateToHome()">
                    الرئيسية!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>