<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!newPic">تعديل الصوره</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="newPic">إضافة صوره جديده</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!newPic">
    <img [src]="baseurl + selectedImg.path" alt="">
    <app-file-uploader (change)="onFileSelect($event.target.files[0])"></app-file-uploader>
    <input _ngcontent-c11="" class="form-control" [(ngModel)]="selectedImg.title" placeholder="العنوان" type="text">
    <textarea _ngcontent-c11="" class="form-control" [(ngModel)]="selectedImg.text" placeholder="الوصف" rows="3"></textarea>
  </div>
  <div class="modal-body" *ngIf="newPic">
    <div class="simulate-img">صوره جديده</div>
    <app-file-uploader (change)="onFileSelect($event.target.files[0])"></app-file-uploader>
    <input _ngcontent-c11="" class="form-control" [(ngModel)]="newImgTitle" placeholder="العنوان" type="text">
    <textarea _ngcontent-c11="" class="form-control" [(ngModel)]="newImgDesc" placeholder="الوصف" rows="3"></textarea>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">حفظ</button>
  </div>
</ng-template>

<ng-template #delete let-deleteModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">مسح صوره</h4>
    <button type="button" class="close" aria-label="Close" (click)="deleteModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>هل انت متأكد من مسح الصوره ؟</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteSlide(delete)">مسح</button>
  </div>
</ng-template>

<div class="article-container">
  <div class="article-title">
    <h2> {{article.name}} </h2>
  </div>
  <div class="add-new-img-wrapper" [ngClass]="{'no-pics':!article.images.length}" *ngIf="article.images.length<3 || !article.images.length">
    <button class="btn btn-outline-dark new-pic-btn" (click)="open(content)">إضافة صوره جديده</button>
  </div>
  <div class="carousel-container" *ngIf="article.images.length">
    <ngb-carousel *ngIf="article.images">
      <ng-template ngbSlide *ngFor="let image of article.images;let i = index">
        <div class="edit-image-wrapper">
          <div class="edit-image" (click)="open(content,article,i)">
            <i class="fa fa-edit"></i>
          </div>
          <div class="edit-image" (click)="deleteSlideModal(delete,article,i)">
            <i class="fa fa-trash"></i>
          </div>
        </div>
        <img [src]="baseurl + image.path" class="slider-img" alt="article images">
        <div class="carousel-caption">
          <h3>{{image.title}}</h3>
          <p>{{image.text}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="article-details-container" [innerHTML]="article.description"></div>
</div>
