<div class="image-container">
  <div class="with-img" [ngStyle]="{'background-image': 'url(' + baseurl +  product.profilePicture + ')'}"></div>
</div>
<div class="details-container">
  <div class="product-rating-row"><span>إسم المنتج</span> : <span>{{product.name}}</span></div>
  <div class="product-rating-row"><span>الوصف</span> : <span>{{product.description}}</span></div>
  <div class="product-rating-row comments"><span>التعليقات</span> : </div>
  <app-comments *ngFor="let review of product.reviews" [commentOwner]="review.reviwer.fullName" [currentRate]="review.rate" [commentDate]="util.getDateFormatted(review.updatedAt || review.createdAt)" [comment]="review.comment"></app-comments>  <div class="details-footer">
    <h2>قيم هذا المنتج</h2>
    <span class="rate">
      <ngb-rating [(rate)]="rate.rate" max="5" class="star">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
    </span>
    <div>
      <textarea name="textarea-input" rows="5" class="form-control product-rate-text-area" placeholder="تعليقك..." [(ngModel)]="rate.comment"></textarea>
    </div>
    <div class="add-comment" (click)="submitRate()">إضافة تعليق</div>

  </div>
</div>