<h1 class="secondary-color">الحاسبات</h1>
<div class="all-calculators-container">

   <!-- <div class="card">
      <img src="./assets/images/healthy-food-calc.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/meals']">
            حساب سعرات نظامك الغذائى
         </a></h5>
   </div> -->

   <div class="card">
      <img src="./assets/images/calories.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/calculators']"> احتياجات
            الجسم من الطاقه
         </a></h5>
   </div>

   <div class="card">
      <img src="./assets/images/carbs.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/carbCalc']"> 
            احتياج جسمك من الكربوهيدرات </a></h5>
   </div>
   <div class="card">
      <img src="./assets/images/protien-calc.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/protienCalc']"> احتياج جسمك من البروتين
         </a>
      </h5>
   </div>
   <div class="card">
      <img src="./assets/images/fat.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/fatCalc']"> نسبة الدهون فى الجسم </a>
      </h5>
   </div>
   <div class="card">
      <img src="./assets/images/healthy-fats.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/healthyFatCalc']"> احتياج جسمك من 
            الدهون الصحيه </a></h5>
   </div>
   <div class="card">
      <img src="./assets/images/perfefct-weight.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/perfectWeightCalc']"> 
            الوزن المثالي لجسمك
         </a></h5>
   </div>
</div>