<h1 class="secondary-color">الحاسبات</h1>
<div class="all-calculators-container">
   <div class="card">
      <img src="./assets/images/calories.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/calculators']"> حاسبة السعرات
         </a></h5>
   </div>

   <div class="card">
      <img src="./assets/images/carbs.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/carbCalc']"> حاسبة
            الكربوهيدرات </a></h5>
   </div>
   <div class="card">
      <img src="./assets/images/protien-calc.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/protienCalc']"> حاسبةالبروتين </a>
      </h5>
   </div>
   <div class="card">
      <img src="./assets/images/fat.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/fatCalc']"> حاسبة الدهون </a>
      </h5>
   </div>
   <div class="card">
      <img src="./assets/images/healthy-fats.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/healthyFatCalc']"> حاسبة
            الدهون الصحيه </a></h5>
   </div>
   <div class="card">
      <img src="./assets/images/perfefct-weight.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/perfectWeightCalc']"> حاسبة
            الوزن المثالي
         </a></h5>
   </div>
</div>