<h1 class="secondary-color">الحاسبات</h1>
<div class="all-calculators-container">
   <div class="card">
      <img src="./assets/images/fat.jpg" alt="">
      <h5 class="secondary-color"><a routerLinkActive="active" [routerLink]="['/yourTools/calculators']"> حاسبة الدهون </a></h5>
   </div>
   <div class="card disabled"> <span>COMING SOON</span></div>
   <div class="card disabled"> <span>COMING SOON</span></div>
   <div class="card disabled"> <span>COMING SOON</span></div>
   <div class="card disabled"> <span>COMING SOON</span></div>
   <div class="card disabled"> <span>COMING SOON</span></div>
</div>