.online-training-container{
    background-image: url('/assets/images/Sergi-Constance-Fitness-Model.png');
    // height: 100%; 
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 620px;

    background-attachment: fixed;
    background-position: 50% 0%;

    .title-style{
        background: linear-gradient(to bottom, #1a1a1a00, #479099);
        font-size: 30px;
        color: white;
        border:none;
        margin: auto;
        display: block;
        padding: 2px 10px;
        border-radius: 10px;
        padding: 0 10px;
    }
    .desc-style{
        .desc-title{
            margin: 30px 0;
        }
        .desc-content{
            margin-top: 40px;
            P{
                font-size: 23px;
                color: white;
                line-height: 1.5;
                text-align: justify;
            }
        }
    }
    .online-training-desc{
        margin-top:100px;
    }
    .packages{
        margin-top: 50px;
        max-width: 1275px;
        .packages-item{
            margin:50px 0;
        }
    }
    .apply-desc{
        margin-bottom: 30px;
    }
}