<div class="online-training-container">
 <div class="online-training-desc desc-style">
   <div class="desc-title ">
     <button class=" title-style">التدريب اون لاين</button>
   </div>
   <div class="desc-content container">
     <p>
       {{otrainingModel.detailsDto.description}}
      </p>
   </div>

 </div>
 <div class="packages container">
    <div class="desc-title">
        <button class=" title-style">البرامج</button>
    </div>
    <div class="packages-item">
      <app-otraining-program *ngFor="let programModel of otrainingModel.programsDto" [program]="programModel"></app-otraining-program>
    </div>

 </div>
 <div class="apply-desc desc-style">
    <div class="desc-title ">
      <button class=" title-style">طريقه الاشتراك</button>
    </div>
    <div class="desc-content container">
      <p>
        {{otrainingModel.detailsDto.forJoin}}
        <!-- خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة في, اقتصّت المحور حدة و. هذه ما طرفاً عالمية استسلام, الصين وتنامت حين ٣٠, ونتج والحزب المذابح كل جوي. أسر كارثة المشتّتون بل, وبعض وبداية الصفحة غزو قد, أي بحث تعداد الجنوب.
 
         قصف المسرح واستمر الإتحاد في, ذات أسيا للغزو، الخطّة و, الآخر لألمانيا جهة بل. في سحقت هيروشيما البريطاني يتم, غريمه باحتلال الأيديولوجية، -->
        </p>
    </div>
 
  </div>

</div>

