:host {
    display: flex;
    min-height: 620px;
    background-image: url(/assets/images/cover.png);
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.close-btn {
    position: absolute;
    left: 0;
    top: 18px;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.close-menu {
    flex: 0 !important;
    overflow: hidden;
    transition: flex 0.2s ease;
}

:host ::ng-deep .close-menu * {
    display: none;
}

.open-menu-icon {
    position: absolute;
    color: white;
    top: 37px;
    padding: 10px 20px;
    background-color: #2b2e33;
    cursor: pointer;
}